    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#wholetale"><img class='logo'
          src='{{ "assets/images/whole_tale_logo_text_long_light.png" | absolute_url }} '></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#approach">Approach</a></li>
            <li><a href="#getinvolved">Get Involved</a></li>
            <li><a href="interns2017.html">Summer 2017 Internships</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

