---
layout: default
---


         <a name="approach"></a> 
    <div class="container-fluid" >
        <div class="row" >
        <div class="col-sm-7 col-sm-offset-1">

      <div class="page-header">
          <h2 class="text-center">News</h2>
      </div>
      {% for post in site.posts %}
      <a href="{{post.url}}"><h4>{{post.title}}</h4></a>
      <p>{{post.date | date: "%b %d, %Y"}}</p>
      {{post.description}}
      {% endfor %}
        </div> <!-- end of col-sm-4 -->
        <div class="col-sm-3">
        <div class="page-header">
          <h2 class="text-center">&nbsp;</h2>
        </div>
          <div class="row">
            <a href="http://docs.wholetale.org/en/stable/README.html#" class="btn btn-info col-sm-12 btn-lg">
              <span class="glyphicon glyphicon-question-sign"></span>
              What is "Whole Tale"?
            </a>
          </div>
            <div class="row">&nbsp;</div>
          <div class="row">
            <a href="http://docs.wholetale.org/en/stable/users_guide/quickstart.html" class="btn btn-info col-sm-12 btn-lg">
              <span class="glyphicon glyphicon-expand"></span>
            How do I create or run a Tale?
            </a>
          </div>
        </div> <!-- end of col-sm-4 -->
        </div> <!-- end of top row -->

        <!--div class="row">
          <hr class="col-sm-6 col-sm-offset-3"/>
        </div>

        <div class="row" >
        <div class="container">

      <div class="page-header">
          <h2>Our Approach</h2>
      </div>

    {% for bullet in page.bullets %}
    {% assign clean = forloop.index0 | modulo: 3 %}
    {% if clean == 0 and forloop.index0 > 0 %}
      <div class="gap"></div>
    {% endif %}
    <div class="media col-sm-4" {% if clean == 0 and forloop.index0 > 0 %} style="clear:both"{% endif %}>
        <div class="media-left">
            <span type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-{{bullet.icon}}"></i></span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{bullet.name}}</h4>
          <p>{{bullet.text}}</p>
        </div>
    </div>
    {% endfor %}
        </div>
        </div-->
    </div>

 <a name="getinvolved"></a> 
<div class="container-fluid" id="involved">
        <div class="container">

      <div class="page-header">
        <a href="participate.html" class="btn-primary btn btn-large-text">Get Involved!</a>
      </div>
      <div class="row row-eq-height">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Participate</h3>
            </div>
            <div class="panel-body involve-body">
				<h4><a href="working_groups.html">Join one of our science or
						cyberinfrastructure working groups</a></h4>
		<div class="row">
		   <div class="col-sm-6">
		      <ul class="no-indent">
                {% assign half = site.data.working_groups['working_groups'] | size  | divided_by: 2 | ceil %}
                {% for group in site.data.working_groups['working_groups'] %}
                  <li>{{group.name}}</li>
                {% if forloop.index == half %}
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="no-indent">
                {% endif %}
                {% endfor %}
             </ul>
           </div>
        </div>
            </div>
          </div>
                    </div>
                    <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Contact</h3>
            </div>
            <div class="panel-body text-center involve-body">
                            <h4>Questions?  Comments?  Want to get involved?</h4>
                            <span class="center-block involve-button"><a class="btn btn-default btn-large" href="https://groups.google.com/forum/#!forum/wholetale">
                            <i class="glyphicon glyphicon-envelope social-button"></i>Join our mailing list</a></span>
                            <h4>Follow Us</h4>

                            <span class="center-block">
                            <!--<a href="">
                            <i class="fa fa-twitter social-link"></i></a>-->
                            <a href="https://github.com/whole-tale">
                            <i class="fa fa-github social-link"></i></a>                        
            </div>
          </div>
        </div>
      </div>
